@import "header";
@import "nav";
@import "footer";
@import "var";

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
body{
    background-color: $color-bg;

} 
.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 1.7fr 1.6fr 0.5fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "aside aside"
      "footer footer";
}
    .main { grid-area: main; 
        background-color: $color-bg;
    }
    .aside { grid-area: aside; 
        background-color:$color-bg;
        display: flex;
        justify-content: space-between;
        .card1{
            background-color: beige;
            img{
                width: 200;
               }            
           }
    }
     .container__contacto {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.3fr 1.7fr 2fr 0.6fr;
        gap: 1px 1px;
        grid-auto-flow: row;
        grid-template-areas:
          "header header"
          "nav nav"
          "main aside"
          "main aside"
          "footer footer";
     }
      .aside{
        .form-floating mb-3{
            padding: 10px;
          }          
      }     
      .main { grid-area: main;
        background-color:$color-bg;
       margin: 10px;
       padding: 10px;
       color: $letra;}
       
.formIngresar{
  width: 400px;
  height: 340px;
  background: #4f4e4e;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px $color-bg;
  padding: 20px 30px;
  border-top: 4px solid #0a250a;
  color: white;
     h5{
         margin: 0;
         text-align: center;
         height: 40px;
         margin-bottom: 30px;
         border-bottom: 1px solid;
         font-size: 20px;
        }
     .controls{
          width: 100%;
         border: 1px solid #01ab48;
         margin-bottom: 15px;
         padding: 11px 10px;
         background: #252323;
         font-size: 14px;
         font-weight: bold;
         margin-bottom: 16px;
        }
      .buttons{
         width: 100%;
         height: 40px;
         background: #017bab;
         border: none;
         color: white;
        }
      p{
         height: 40px;
         text-align: center;
         border-bottom: 1px solid;
        }
      a{
       color: white;
       text-decoration: none;
       font-size: 14px;
       }  
}

.container-productos{  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 1.9fr 1.9fr 0.6fr;
    grid-auto-columns: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "nav"
      "productos"
      "main"
      "aside"
      "footer";
  }
.productos { grid-area: productos;
             background-color:$color-bg;
          .navbar bg-body-tertiary {
               background-color: $color-n;
             }
         .container-fluid{
               background-color: $color-bg;
            }
          .nav-link{
             color:$color-n;
             background-color: $color-bg;
          }
        }   
 
 .main { grid-area: main;
            background-color: $color-bg;
            display: flex;
            justify-content:center;
            .card{
                padding: 5px;
                margin: 30px;
              }                   
        }
     .aside { grid-area: aside;
        h3{
            padding: 20px;
            color: aliceblue;
           }          
        .carousel-item{
            display: flex;
            justify-content: center;
            }
      }
  .footer { grid-area: footer; 
         }
      
         @media screen and (max-width:600px){
  	
            .menu{
             height: 230px;
             flex-direction: column;
             text-align:center;
            }
             .hedear{
              display: block;
             }
            .container { display: grid;
              grid-template-columns: auto;
              grid-template-rows: repeat(5, auto);
              grid-template-areas:
                "header"
                "nav"
                "main"
                "aside"
                "footer";
              } 
              .header{
                display: block;
              }
            .container__contacto {  display: grid;
              grid-template-columns: auto;
              grid-template-rows: repeat(5, auto);
              grid-template-areas:
                "header"
                "nav"
                "main"
                "aside"
                "footer";
              }
              .container-productos{  display: grid;
                grid-template-columns:auto ;
                grid-template-rows: repeat(6, auto);
                grid-template-areas:
                  "header"
                  "nav"
                  "productos"
                  "main"
                  "aside"
                  "footer";
              }
              .header{
                display: block;
              }
             .nav{ height: 230px;
              flex-direction: column;
              text-align:center;
             }

             }
          
          
                           
          
            
          
    
     
     
    